.post-container{
    display: flex;
    width: 60%;
    margin: auto;
    background-color: white;
    border-radius: 0.5cm;
    flex-direction: column;
    zoom: normal;
}

.post-label{
    display: flex;
    margin-left: 30px;
    color: red;
    font-weight: bold;
    font-size: large;
    margin-top: 20px;
    margin-bottom: 10px;
}

.post-select{
    margin-left: 20px;
    margin-right: 20px;
}

.post-input{
    margin-left: 20px;
    margin-right: 20px;
}

.post-content{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    margin-bottom: 30px;
}

.post-footer{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.ck.ck-content{
	width: 95%;
    min-height: 200px;
}
/* .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused){
    border-color: white;
} */