.text-tiny {
    font-size: .7em;
}

/* ckeditor5-font/theme/fontsize.css */
.text-small {
    font-size: .85em;
}

/* ckeditor5-font/theme/fontsize.css */
.text-big {
    font-size: 1.4em;
}

/* ckeditor5-font/theme/fontsize.css */
.text-huge {
    font-size: 1.8em;
}

figure.image {
    /* display: flex; */
    margin: auto;
}

figure>img{
    width: 100%;
    height: 100%;
}

.p-content{
    border-color: white;
}
