.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  /* background: url("https://www.solidbackgrounds.com/images/1920x1080/1920x1080-true-blue-solid-color-background.jpg"); */

  font-family: Roboto, Arial, sans-serif;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.cb-wrap label,
.cb-wrap input,
.button {
  cursor: pointer;
}

a {
  color: #e0e0e0;
  text-decoration: none;
}

.input:focus,
.button:focus {
  outline: none;
}

.col-spacer {
  min-height: 4rem;
}

.form-header {
  display: flex;
  /* align-items: center; */
  font-size: 3rem;
  font-weight: 600;
  color: yellow;
  margin-bottom: 3rem;
  justify-content: center;
}

.form-header .icon {
  font-size: 1.4rem;
  margin-right: 1rem;
}

#form .center {
  width: 60%;
  margin: auto;
  display: flex;
}

#form {
  /* width: 1200px; */
  height: 800px;
  color: #fafafa;
  border: 2px solid;
  border-color: black;
  /* box-shadow: inset 0 0 15px #c300ffd3, 0 0 15px #c300ffd3; */
  background-color: #3f3f3f21;
  border-radius: 5px;
  display: flex;
}

#form .right>button {
  margin-right: 2px;
}

#form .input-wrap {
  margin-bottom: 0.5rem;
}

#form .input-wrap .input-desc {
  text-align: right;
  font-size: 0.8rem;
  margin: 4px 0;
  display: block;
}

#form .input-icon {
  display: flex;
  background-color: rgba(0, 0, 0, 0.502);
  align-items: center;
  border-radius: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
}

#form .input-icon .icon {
  color: #fafafa;
  margin: 0 1rem;
  position: absolute;
  pointer-events: none;
}

#form .input-icon input {
  border: none;
  background: none;
  color: #fafafa;
  padding: 0.7rem;
  padding-left: 3rem;
  border-radius: 5px;
  flex: 1;
  transition: background-color 0.2s ease;
}

#form .input-icon input:focus {
  background-color: rgba(255, 255, 255, 0.562);
  color: #000;
}

.btnn {
  border: 2px solid transparent;
  background-color: transparent;
  box-shadow: inset 0 0 15px #00e5ff, 0 0 15px #00e5ff;
  border-radius: 4px;
  color: #fafafa;
  padding: 0.5rem;
  transition: background-color 0.2s ease-in;
}

.btnn i {
  margin: 0 0.6rem;
}

.big {
  font-size: 1.2rem;
  font-weight: 600;
}

.pri {
  color: #fee;
  border-color: #f44336;
  text-shadow: 0 0 10px #f00;
  box-shadow: inset 0 0 15px #f44336, 0 0 15px #f44336;
  margin-right: 3rem;
}

.pri:focus,
.pri:hover,
.pri:active {
  background: #f44336;
}

.txtglow {
  color: #edfdff;
  text-shadow: 0 0 15px #00e5ff;
}

.glow {
  color: #edfdff;
  box-shadow: 0 0 15px #00e5ff;
}

.flex {
  display: flex;
}

.flex .col {
  padding: 2rem;
}

.flex.col-2>* {
  flex: 50%;
}

.flex:not(.column):not(.row) {
  align-items: center;
}

.flex.space {
  justify-content: space-between;
}

.flex.column {
  flex-direction: column;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mt-5 {
  margin-top: 2.5rem;
  text-align: right;
}

.system-name {
  font-weight: 900;
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
}

.nojt {
  justify-content: none;
}

.upload-avatar {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  width: 30%;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.post-container {
  display: flex;
  width: 60%;
  margin: auto;
  /* background-color: rgb(194, 194, 194); */
  border-radius: 0.5cm;
  flex-direction: column;
  zoom: normal;
}

.post-label {
  display: flex;
  margin-left: 30px;
  color: red;
  font-weight: bold;
  font-size: large;
  margin-top: 20px;
  margin-bottom: 10px;
}

.post-select {
  margin-left: 20px;
  margin-right: 20px;
}

.post-input {
  margin-left: 20px;
  margin-right: 20px;
}

.post-content {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  margin-bottom: 30px;
  background-color: white;
}

.post-footer {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.ck.ck-content {
  width: 99%;
  min-height: 200px;
}

.notifications-drop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.notification-drop {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.notification-drop:hover {
  background-color: rgb(210, 228, 228);
  cursor: pointer;
}

.notification-drop-content {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.notification-drop-time {
  display: flex;
  font-size: 13px;
  color: rgb(94, 94, 197);
  margin-left: 10px;
}

.notification-drop-text {
  display: flex;
  font-size: 16px;
  margin-left: 10px;
}

.notification-drop-avatar {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.notification-drop-mark {
  display: flex;
  justify-self: end;
  margin-left: auto;
  margin-right: 30px;
}

.forum-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #E9EBEE;
}

.forum-body {
  margin: 0;
}

.forum-footer {
  color: rgb(163, 163, 163);
  background-color: black;
  height: 80px;
  text-align: center;
  margin-top: auto;
  padding-top: 20px;
}

.forum-footer p {
  line-height: 10px;
}

.notifications {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.notification {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  transition: transform .2s;
}

.notification:hover {
  background-color: rgb(210, 228, 228);
  transform: scale(1.1);
  cursor: pointer;
}

.notification-content {
  display: flex;
  flex-direction: column;
}

.notification-time {
  display: flex;
  font-size: 13px;
  color: rgb(94, 94, 197);
  margin-left: 10px;
}

.notification-text {
  display: flex;
  font-size: 16px;
  margin-left: 10px;
}

.notification-avatar {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.notification-mark {
  display: flex;
  justify-self: end;
  margin-left: auto;
  margin-right: 30px;
}

.post-title:hover,
.topic-title:hover {
  color: blue;
  cursor: pointer;
}

.post-title,
.topic-title {
  color: red;
}

.text-tiny {
  font-size: .7em;
}

/* ckeditor5-font/theme/fontsize.css */
.text-small {
  font-size: .85em;
}

/* ckeditor5-font/theme/fontsize.css */
.text-big {
  font-size: 1.4em;
}

/* ckeditor5-font/theme/fontsize.css */
.text-huge {
  font-size: 1.8em;
}

figure.image {
  /* display: flex; */
  margin: auto;
}

figure>img {
  width: 99%;
  height: 99%;
}

.p-content {
  border-color: white;
}

.red {
  color: red;
}

.side-body {
  text-align: left;
  color: black;
}

.side-header {
  color: red;
  font-size: 30px;
}

.side-card {
  width: 80%;
  margin: auto;
}